<% layout("/layouts/boilerplate") %>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <br />
      <h3>Create a New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            name="listing[title]"
            type="text"
            placeholder="Add a title"
            required
          />
          <div class="valid-feedback">Title Looks good!</div>
          <div class="invalid-feedback">Please enter a title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            name="listing[description]"
            type="text"
            placeholder="Enter description"
            required
          ></textarea>
          <div class="valid-feedback">Description Looks good!</div>
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
          <input
            class="form-control"
            type="file"
            name="listing[image]"
            required
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            class="form-control"
            name="listing[price]"
            placeholder="1200"
            required
          />
          <div class="valid-feedback">Price Looks good!</div>
          <div class="invalid-feedback">Please enter a valid price</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input
              class="form-control"
              name="listing[location]"
              type="text"
              placeholder="Mumbai"
              required
            />
            <div class="valid-feedback">Location Looks good!</div>
            <div class="invalid-feedback">Please enter a valid location</div>
          </div>

          <div class="mb-3 col-md-4">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              name="listing[country]"
              type="text"
              placeholder="India"
              required
            />
            <div class="valid-feedback">Country Looks good!</div>
            <div class="invalid-feedback">Please enter a valid country</div>
          </div>
        </div>
        <button class="btn btn-dark add-btn mt-3">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
